/*==========================================================================    
                                COMMON
========================================================================== */


html, body{
	min-height: 100%;
  background: url("../img/hero-bg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
  background-color: #000;
}

p {
	color: #64707b;
	font-size: 16px;
	font-weight: 300;
}

a {
  color:#fff;
}

a:hover {
  color:#fff;
  text-decoration:underline;
}

footer {
  color: #ffffff;
  padding: 25px;
}

b, strong {
  font-weight: 500;
  font-size: 1.1em;
  color:#fff;
}


/*==========================================================================		
				                        NAVBAR
========================================================================== */

/* from other template */
  
/*==========================================================================    
                            INDEX PAGE and OTHER PAGES
========================================================================== */

#home-content-box{
  margin-top: 80px;
	width: 100%; /* Set width to 100% */
	height: 220px;
}

#home-heading{
	padding : 65px;
  vertical-align: middle;
  color:#51d8af;
}

sup {
  top: -1em;
  font-weight: 100;
  font-size: 0.5em;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrapper {
  margin-left: 10px;
  padding: 20px;
  padding-bottom: 0px;
  text-align: left;
}

.robo.container {
  background-color: #303030;
  padding: 30px;
  border-radius: 20px;
  margin-top: -3em;
  box-shadow: 5px 5px 4px rgba(0,0,0,0.2);
  float:left;
  margin-left: 20px;
  margin-bottom: 30px;
}

#home-heading h1 {
  color: #51d8af;
  font-family: inherit;
  font-weight: 500;
  padding-bottom: 10px;
}

.name h4 h5 {
  font-weight: 300;
}


.question_no{
  text-align: right;
  color: white;
  font-size: 15px;
}

hr.question-divider {
  margin-top: 0px;
  border-bottom: 1px solid white;
}

.border-container p {
  color: #130f40;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 0;
  opacity: 0.65;
}

.icons {
  color: #95afc0;
  opacity: 0.55;
}

.btn-primary {
  color: #fff;
  background-color: #008ba3;
  border-color: #008ba3;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
}

#questionA, #questionB {
  font-weight: 400;
}

#questionA:hover, #questionB:hover {
  background-color: #303030;
}

#converter-do, #requirements {
  font-family: 'Varela Round', sans-serif;
  letter-spacing: -.5px;
  font-weight: 150;
  font-size: 12;  
  text-align: left;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #42b72a;
  border-radius: 50%;
  display: inline-block;
}

h5.header {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 0.8em;
  font-weight: 100;
}

hr.divider {
  margin-top: -15px;
  border-bottom: 2px dotted black;
}

.featherlight .featherlight-content {
  background: #303030 !important;
  color: #fff !important;
  width: 50%;
  padding: 40px 40px 10px!important;
}

.featherlight .featherlight-close-icon {
  background: rgba(255, 255, 255, 0)!important;
  color: rgb(255, 255, 255)!important;
  }

.Converter-explained {
display: none;
font-weight: 100;
color: #bcbcbc;
}

#warning {
  display: none;
  padding: 10px 30px;
  margin-top:20px;
}

#warning strong{
  color: black;
}

.input-focus {
    background-color: yellow;
}

.field_explained {
  position: relative;
  border-bottom: 2px dotted rgb(255, 255, 255);
  display: inline-block;
}

.field_explained .field_explained_text {
  visibility: hidden;
  width: 500px;
  background-color: #008ba3;
  color: #fff;
  border-radius: 5px;
  padding: 11px 20px;
  position: absolute;
  z-index: 12;
  bottom: 110%;
  left: 15%;
  margin-left: -100px;
  text-align: initial;
  border: 0px solid #ffffff;
  font-family: inherit;
  line-height: 1.5em;
  font-size: 13px;
  word-break: keep-all;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 25px 4px;
}

.field_explained:hover .field_explained_text {
  visibility: visible;
  opacity: 1;
}

.quest-prev {
 margin-top: 20px;
 float:left;
}

.quest-submit {
 margin-top: 20px;
 float:right;
}

.btn-group-sm>.btn, .btn-sm {
  padding: .375rem .75rem;
}

/*==========================================================================    
                            ERROR PAGE
========================================================================== */

#error_page {
  font-family: inherit;
  color: #bcbcbc;
  letter-spacing: -.5px;
  font-weight: 150;
  font-size: 12;  
  text-align: left;
}

/*==========================================================================    
                            RADIO BUTTONS
========================================================================== */

@keyframes ripple {
  0% {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0);
  }
  50% {
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  100% {
  box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0);
  }
}
.md-radio {
  margin: 10px 0;
  color: #fff;
  font-size: 1.1em;
}


.md-radio.md-radio-inline {
  display: inline-block;
}
.md-radio input[type="radio"] {
  display: none;
}
.md-radio input[type="radio"]:checked + label:before {
  border-color: #b459a3;
  animation: ripple 0.2s linear forwards;
}
.md-radio input[type="radio"]:checked + label:after {
  transform: scale(1);
}
.md-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: bottom;
}
.md-radio label:before, .md-radio label:after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color;
}
.md-radio label:before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(153, 153, 153, 1);
}
.md-radio label:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
  background: #b459a3;
}

*, *:before, *:after {
  box-sizing: border-box;
}


/*==========================================================================    
                            SALARY and NETWORTH SLIDER
========================================================================== */


/* custom styles for UiSlider */
.noUi-target {
  cursor: pointer;
}

.noUi-target :focus {
  outline: none;
}

.noUi-horizontal {
  height: 9px;
}

.noUi-connect {
  background:#128ca5;
}

.noUi-base {
  background: gray;
}

.noUi-horizontal .noUi-handle {
  top: -6px;
  right: -15px;
  width: 22px;
  height: 22px;
  background: #128ca5;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: unset;
  cursor: pointer;
  transition: transform .1s;
  }

.noUi-horizontal .noUi-handle:before, .noUi-horizontal .noUi-handle:after {
    content: none
  }
  
.noUi-horizontal .noUi-handle:hover {
    transform: scale(1.1);
  }


/* styles for filter */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 80%;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 0px 50px 4px rgba(0,0,0,0.25);
  padding: 20px;
  margin: 20px 0px;
}

.filter__label {
  position: relative;
  cursor: pointer;
}
  
.filter__label:before {
    position: absolute;
    left: 8px;
    top: 49%;
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
  }
    
.filter__label:nth-child(1):before {
    content: 'from';
  }
  
.filter__label:nth-child(2):before {
    content: 'to';
  }

.filter__label:after {
    position: absolute;
    left: 125px;
    top: 49%;
    transform: translateY(-50%);
    color: gray;
    font-size: 14px;
  }

.filter__label:nth-child(1):after {
    content: ' $';
  }
  
.filter__label:nth-child(2):after {
    content: ' $';
  }

.filter__input.slider1 {
  height: 35px;
  border-radius: 5px;
  padding: 0 10px 0 55px;
  cursor: pointer;
  max-width: 160px;
}
  
.filter__input.slider2 {
  height: 35px;
  border-radius: 5px;
  padding: 0 10px 0 55px;
  cursor: pointer;
  max-width: 160px;
}

.filter__slider-price {
  width: 100%;
  margin: 20px 5px 0;
}


/*==========================================================================    
                            CURRENCY CONVERTOR
========================================================================== */

.currency.container {
  width: 350px;
}

form.currency_converter {
  height: 40px;
  display: flex;
}

h2.title {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin: 30px 0px 30px 0px;
}

input, select {
  border: 1px solid #ccc;
  border-radius:10px;
}

#amount {
  max-width: 25%;
  padding: 0 0 0 15px;
}

form.currency_converter select {
  flex: 1;
  padding-left: 8px;
}

form.currency_converter input[type="submit"] {
  flex: 1;
}

/* Result */

.results {
  margin-top: 18px;
  height: 40px;
  display: flex;
}

#result {
  flex: 1 1 auto;
  padding: 0 0 0 15px;
  background: #fff;
  margin: 0px 0 0px 0;
  padding-top: 10px;
  border-radius: 10px;
}

#symbol {
  max-width: 25%;
  text-align: center;
  color: rgb(0, 0, 0)!important;
}



/*==========================================================================    
                            PORTFOLIO PAGE
========================================================================== */

tr {
  color: #fff;
}

td, th {
  color: #fff;
  text-align: right;
}

/*==========================================================================    
                            For Static Sections
========================================================================== */

.statis {
  color: #EEE;
  margin-top: 15px;
}
.statis .box {
  position: relative;
  padding: 15px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 25px;
}
.statis .box h3:after {
  content: "";
  height: 2px;
  width: 70%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.12);
  display: block;
  margin-top: 10px;
}
.statis .box i {
  position: absolute;
  height: 70px;
  width: 70px;
  font-size: 22px;
  padding: 15px;
  top: -25px;
  left: -25px;
  background-color: rgba(255, 255, 255, 0.15);
  line-height: 60px;
  text-align: right;
  border-radius: 50%;
}


/*==========================================================================    
                            For Animation
========================================================================== */



.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  height:350px;
  opacity:.5;
  position: fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


/*==========================================================================    
                            Contact us page
========================================================================== */

.google-map {
  margin-top: 7%;
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 5%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.contact-form{
  background: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 95%;
  border-radius:20px;
}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
  transform: rotate(29deg);
}
.contact-form form{
  padding: 14% 2% 14% 2%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 70%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.btnContactSubmit
{
  width: 70%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

/* Message flashing */
.flash {
  margin: 20px auto 16px auto;
  text-align: center;
  padding: 7px;
  border-radius: 25px;
  font-size: 1rem;
  width: 400px;

}

.flash-error {
  border: 2px solid darkred;
  background-color: #FBB0B0;
}

.flash-success {
  border: 2px solid rgb(0, 167, 28);
  background-color: #c4f39d;
}
