{% extends "index.html" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col">
			<!--main section-->
			<div class="container robo">
				<div class="row">
					<div style="width:100%;margin:auto">
						<div class="wrapper">
							<form class="form-group question_first_page" id="question_form" autocomplete="off" action="{{ url_for('adv_quest2') }}" method="POST">

								<!-- This is for Question No. 1 -->
								<div class="question_no">
									(1 of 15)<hr class="question-divider">
								</div>
								<label for="age_q" style="color: white;"><strong>Q. Please enter your age below:</strong></label>
								<input id="age_q" type="number" min="18" name="age_q" class="form-control" placeholder="Please enter your age *" required="required" style="max-width: 242px;margin: 10px 0px 25px 20px;">

								<!-- This is for Question No. 2 -->
								<div class="question_no">
									(2 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. What is your Net Worth?</strong></label>
								<!-- For slice type selection radio buttons -->
								<div class="filter">
									<label class="filter__label">
										<input type="text" name="net_income1" class="filter__input slider1">
									</label>  

									<label class="filter__label">
										<input type="text" name="net_income2" class="filter__input slider1">
									</label>
									<div id="sliderPrice1" class="filter__slider-price" data-min="0" data-max="1000000" data-step="500"></div>
								</div>

								<!-- This is for Question No. 3 -->
								<div class="question_no">
									(3 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. What is your salary per annum?</strong></label>
								<!-- For slice type selection radio buttons -->
								<div class="filter">
									<label class="filter__label">
										<input name="salary1" type="text" class="filter__input slider2">
									</label>  
									<label class="filter__label">
										<input name="salary2" type="text" class="filter__input slider2">
									</label>
									<div id="sliderPrice2" class="filter__slider-price" data-min="0" data-max="1000000" data-step="500"></div>
								</div>


								<!-- This is for Question No. 4 -->
								<div class="question_no">
									(4 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. What is your highest education?</strong></label>
								<!-- For slice type selection radio buttons -->
								<div class="type_options">
									<div class="md-radio">
										<input id="no_edu" type="radio" name="education" value="1">
										<label for="no_edu">No high school degree</label>
									</div>
									<div class="md-radio">
										<input id="high_edu" type="radio" name="education" value="2"> 
										<label for="high_edu">High school degree</label>
									</div>
									<div class="md-radio">
										<input id="bach_edu" type="radio" name="education" value="3">
										<label for="bach_edu">Bachelor’s degree</label>
									</div>
									<div class="md-radio">
										<input id="mast_edu" type="radio" name="education" value="4">
										<label for="mast_edu">Master’s or higher</label>
									</div>
									<div id="valid_education" style="color: red;"></div>
								</div>

								<!-- This is for Question No. 5 -->
								<div class="question_no">
									(5 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. What is your marital status?</strong></label>
								<!-- For slice type selection radio buttons -->
								<div class="type_options">
									<div class="md-radio">
										<input id="marriage_yes" type="radio" name="marriage" value="1"> 
										<label for="marriage_yes">Married</label>
									</div>
									<div class="md-radio">
										<input id="marriage_no" type="radio" name="marriage" value="2">
										<label for="marriage_no">Not Married</label>
									</div>
									<div id="valid_marriage" style="color: red;"></div>
								</div>

								<!-- This is for Question No. 6 -->
								<div class="question_no">
									(6 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. How many 
									<span class="field_explained">children<span class="field_explained_text">
									children including natural children/step-children/
									foster children of head/spouse/partnerr</span></span> 
									do you have?</strong></label>
								<input id="children" type="number" min="0" name="children" value="0" class="form-control" placeholder="Please enter no. of children*" required="required" style="max-width: 242px;margin: 10px 0px 25px 20px;">


								<!-- This is for Question No. 7 -->
								<div class="question_no">
									(7 of 15)<hr class="question-divider">
								</div>
								<label class="control-label"><strong>Q. What is your working status currently?</strong></label>
								<!-- For slice type selection radio buttons -->
								<div class="type_options">
									<div class="md-radio">
										<input id="work_emp" type="radio" name="work" value="1">
										<label for="work_emp">Employed</label>
									</div>
									<div class="md-radio">
										<input id="work_self" type="radio" name="work" value="2"> 
										<label for="work_self">Self Employed/Partnership</label>
									</div>
									<div class="md-radio">
										<input id="work_ret" type="radio" name="work" value="3">
										<label for="work_ret">Retired/Student/Disabled</label>
									</div>
									<div class="md-radio">
										<input id="work_unemp" type="radio" name="work" value="4">
										<label for="work_unemp">Unemployed</label>
									</div>
									<div id="valid_work" style="color: red;"></div>
								</div>

								<div class="alert alert-danger alert-dismissible fade show" id="warning" style="display: none;">
									<strong>Attention!</strong>  Please answer all the above questions
								</div>

								<div class="quest-submit">
									<!--<input type="submit" class="btn btn-primary btn-sm sub_btn" value="Export">-->
									<button type="submit" class="btn btn-primary btn-sm sub_btn" value="Next">
									<img src="/static/img/enter.svg" alt="Robzee" title="Next" height="20"> NEXT</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-3" style="min-width:350px">
			<div class="container currency", style="margin-top:50px; position:fixed;">
				<h2 class="title">Currency Converter</h1>
				<form class="currency_converter">
					<input type="text" id="amount">
					<select name="" id="from" style="font-size:15px; font-weight: 600; text-align: center;">
					</select>
					<select name="" id="to" style="font-size:15px; font-weight: 600; text-align: center;">
					</select>
					<input type="submit" id="converter" value="Convert" style="font-size:16px; font-weight: 700; text-align: center;">
				</form>
				<div class="results">
					<div id="result">
					</div>
					<input id="symbol" type="text" value="EUR" style="font-size:15px; font-weight: 600; text-align: center; color: rgb(255, 255, 255);" disabled>
				</div>            
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	window.onbeforeunload = function() {
		return "Are you sure you want to leave?";
	};

</script>

{% endblock %}
