{% extends "welcome.html" %}

{% block content %}

<section id="welcome" class="welcome section-bg page_3" style="min-height: 100vh;">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Risk Assessment</h2>
			<h3>Amount <span>Investment</span></h3>
		</div>


		<!--main section-->
		<div class="container robo">
			<div class="wrapper question_page">
				<form class="form-group adv_questions" id="question_form" autocomplete="off" action="{{ url_for('portfolio') }}" method="POST">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>	

					<!-- This is for Question on Investment -->
					<div class="question_no">
						16<hr class="question-divider">
					</div>
					<label for="investment_amt" style="color: white;"><h5>Q. Amount you want to 
						<span class="field_explained">invest<span class="field_explained_text">please note you can only proceed with a minimum amount of 5000$ and maximum amount of 100,000$</span></span>?</h5></label>
					<input id="investment_amt" type="number" min="5000" max="100000" name="investment_amt" class="form-control" placeholder="Please enter investment amount *" required="required" style="max-width: 250px">


					<div class="quest-submit">
						<button type="submit" class="btn-get-started sub_btn" value="Next">
					<img src="/static/img/enter.svg" alt="Plottu" title="Next" height="20"> NEXT</button></div>
				</form>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	window.onbeforeunload = function() {
		return "Are you sure you want to leave?";
	};

</script>

{% endblock %}
