{% extends "index.html" %}

{% block content %}

<!-- for 404 error page -->
<div class="container-fluid">
	<div class="row">
		<div class="col-9">
			<!--main section-->
			<div class="container robo">
				<div class="row">
					<div style="width:100%;margin:auto">
						<div class="wrapper advance">
                            <h1>Page Not Found!</h1>
                            <div id="error_page">
                                <p>Go back <a href="{{ url_for('index') }}">Home!</a></p>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}