{% extends "welcome.html" %}

{% block content %}

<section id="welcome" class="welcome section-bg error_page">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Error</h2>
			<h3>Page <span>not found!</span></h3>
		</div>


		<!--main section-->
		<div class="container robo" style="min-height: 300px;">
			<div class="wrapper advance">
				<h1>Page Not Found!</h1>
				<div id="error_page">
					<p>Go back <a href="{{ url_for('index') }}">Home!</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}