{% extends "welcome.html" %}

{% block content %}

<section id="welcome" class="welcome section-bg error_page">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Error 500</h2>
			<h3>Something <span>went wrong!</span></h3>
		</div>

		<!-- for 500 error page -->
		<div class="container robo" style="min-height: 300px;">
			<div class="wrapper advance">
				<h1>Oops, something went wrong!</h1><br>
				<div id="error_page">
					<p><b>error:</b> {{error}}<br>
					{{error_content}}</p>
					<p>Go back <a href="{{ url_for('index') }}">Home</a> or <a href="mailto:robofina.advisors@gmail.com?subject={{error_content}}&body=Hi,%0D%0A%0D%0AI am getting following error message on Robofina website : %0D%0A%0D%0Aerror: {{error}} %0D%0A%0D%0A{{error_content}} %0D%0A%0D%0AThanks,%0D%0A%0D%0A">Report</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}