{% extends "welcome.html" %}

{% block content %}

<section id="welcome" class="welcome section-bg dashboard">
	<div class="container-fluid" data-aos="fade-up">

		<div class="section-title">
			<h2>Dashboard</h2>
			<h3>Your <span>Portfolio</span></h3>
		</div>

		<!--main section-->
		<div class="container-fluid robo dashboard">	
			<div class='statis text-center'>
				<div class="container-fluid">
					<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="box bg-info">
							<span><i class="fas fa-hourglass-half fa-2x"></i></span>
							<h3>{{time_span}}</h3>
							<p class="lead" >Time Span</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box bg-danger">
							<span><i class="fas fa-tachometer-alt fa-2x"></i></span>
							<h3>{{risk_tol}}</h3>
							<p class="lead">Risk Tolerance (0 - 1)</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box bg-warning">
							<span><i class="fas fa-coins fa-2x"></i></span>
							<h3>{{amount}}</h3>
							<p class="lead">Amount Invested ($)</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="box bg-success">
							<span><i class="fas fa-hand-holding-usd fa-2x"></i></span>
							<h3>{{projected_amt}}</h3>
							<p class="lead">Expected Returns ($)</p>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div>
				<hr class="question-divider" style="margin-top: 10px;">
			</div>
			<div class="row">
				<div class="col-lg-6 container-fluid">
					<h5>Current Portfolio</h5>
					<div id="chart_wrap">
						<div id="piechart_3d"></div>
					</div>
				</div>
				<div class = "col-lg-6 container-fluid">
					<h5>Detailed Portfolio distribution</h5>
					<table class="table table-hover">
						<thead>
							<tr>
								{% for col in column_names %}
								<th id="{{col}}">{{col}}</th>
								{% endfor %}
							<tr>
						</thead>
						<tbody>
							{% for row in row_data %}
							<tr>
								{% for col, row_ in zip(column_names, row) %}
								<td  id="{{col}}">{{row_}}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div>
				<hr class="question-divider" style="margin-top: 10px;">
			</div>
			<div class="row">
				<div class="col-lg-12 container-fluid" style="margin:0px!important;padding:0px!important;">
					<h5 style="margin-left:20px;">Portfolio performance</h5>
					<div id="chart_wrap_monte">
						<div id="chart_div"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			{% for key, value in data.items() %}
				{% if value is string %}
					['{{ key }}', '{{ value }}'],
				{% else %}
					['{{ key }}', {{ value }}],
				{% endif %}
			{% endfor %}
		]);

		var options = {
			pieHole: 0.4,
			backgroundColor: '#303030',
			is3D: true,
			colors:['#e76f51','#2a9d8f','#e63946','#118ab2','#ffd166'],
			chartArea:{left:5,top:20,right:5,width:'100%',height:'100%'},
			pieSliceText:'percentage',
			legend: {textStyle: {color: 'white', fontSize: 12}, position:'top',
					alignment: 'center', maxLines:10}
			// chartArea.backgroundColor: '#303030',
		};

		var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
		chart.draw(data, options);

		//create trigger to resizeEnd event     
		$(window).resize(function() {
			if(this.resizeTO) clearTimeout(this.resizeTO);
			this.resizeTO = setTimeout(function() {
				$(this).trigger('resizeEnd');
			}, 500);
		});

		//redraw graph when window resize is completed  
		$(window).on('resizeEnd', function() {
			chart.draw(data, options);
		});
	}

	  
	google.charts.load('current', {'packages':['corechart']});
	google.charts.setOnLoadCallback(drawChart2);
	function drawChart2() {
		var data = google.visualization.arrayToDataTable([
			['Year', 'Lower_bnd1', 'Median1', 'Upper_bnd1','Lower bound', 'Median', 'Upper bound'],
			{% for index, row in monte_exp.iterrows() %}
				[new Date({{ row[0] }}),{{ row[1] }},{{ row[2] }},{{ row[3] }},{{ row[4] }},{{ row[5] }},{{ row[6] }}],
			{% endfor %}
		]);
		
		var formatter = new google.visualization.NumberFormat({pattern: '$#,##0'});

		// format number columns
		for (var i = 1; i < data.getNumberOfColumns(); i++) {
		formatter.format(data, i);
		}

		var options = {
			isStacked:true,
			backgroundColor: '#303030',
			chartArea:{left:20,right:10,top:20,width:'100%',height:'80%'},
			legend: {textStyle: {color: 'white', fontSize: 12}, position: 'top',
					alignment: 'center', maxLines:5},
			hAxis: {title: 'Year',  
					titleTextStyle: {color: 'white', fontSize: 15, italic: false},
					format: 'MMM dd, yyyy', 
					textStyle: {color: 'white', fontSize: 12},
					gridlines: {count: 30, color: 'transparent'}, 
					minorGridlines:{ count: 0}},
			vAxis: {title: 'Portfolio returns',
					titleTextStyle: {color: 'white', fontSize: 15, italic: false},
					format: '$#,###',
					textStyle: {color: 'white', fontSize: 12},
					gridlines: { count: 10},
					viewWindow: {min: 4500}},
			series: {
			0: {
				color: 'transparent',
				areaOpacity: 1,
				visibleInLegend: false
			},
			1: {
				color: 'orange',
				visibleInLegend: false
			},
			2: {
				color: 'green',
				visibleInLegend: false
			},
			3: {
				type: 'line',
				color: 'red'
			},
			4: {
				type: 'line',
				color: 'blue',
			},
			5: {
				type: 'line',
				color: 'green'
			}
			}
		};

	var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
	chart.draw(data, options);

	//create trigger to resizeEnd event     
	$(window).resize(function() {
		if(this.resizeTO) clearTimeout(this.resizeTO);
		this.resizeTO = setTimeout(function() {
			$(this).trigger('resizeEnd');
		}, 500);
	});

	//redraw graph when window resize is completed  
	$(window).on('resizeEnd', function() {
		chart.draw(data, options);
	});
	}


</script>

{% endblock %}
