<!DOCTYPE html>
<html lang="en">
<head>
	<!--required meta tags-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--title-->
	<title>RoboFina Advisors</title>

	<!--web icon--> 
	<link rel="apple-touch-icon" sizes="180x180" href="../static/img/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/img/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/img/icon/favicon-16x16.png">
	<link rel="manifest" href="../static/img/icon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- Deciding google font here-->
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

	<!-- fontawesome -->
	<link rel="stylesheet" href="../static/css/font/css/all.css">

	<!-- Bootstrap link-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- animate on page-->
	<link rel="stylesheet" href="../static/css/animate/animate.css">

	<!--Magnific popup-->
	<link rel="stylesheet" href="../static/css/magnific-popup/magnific-popup.css">

	<!--Owl Carousel-->
	<link rel="stylesheet" href="../static/css/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl-carousel/owl.theme.default.min.css">

	<!--featherlight css-->
	<link href="https://cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css" type="text/css" rel="stylesheet" />

	<!--style css-->
	<link rel="stylesheet" href="../static/css/style_index.css">

	<!--responsive css-->
	<link rel="stylesheet" href="../static/css/responsive.css">

</head>
<body data-spy="scroll" data-target=".navbar-dark" data-offset="65">

	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-gray fixed-top bg-shantanu">
			<div class="container">
				<a class="navbar-brand smooth-scrolling" href="#home">
					<img src="{{url_for('static', filename='img/robo_advisor_logo.png')}}" alt="Robofina Advisors" height="60" style="margin:auto 10px auto 0px;">
					<span style="color:white;font-size: 22pt;vertical-align: middle;"><i>RoboFina  Advisors</i></span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#shantanu-menu">
					  	<span class="navbar-toggler-icon"></span>
					</button>
				<div id="shantanu-menu" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#home">Home</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#services">Approach</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#about">Vision</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#team">Team</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#recommendations">Recommendation</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#pricing">Pricing</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#stats">Stats</a></li>
						<li class="nav-item"><a class="nav-link smooth-scrolling" href="#clients">Clients</a></li>
						<li class="nav-item"><a class="nav-link" href="{{url_for('contact_us')}}">Contact</a></li>
						<li class="nav-item" style="width:150px; margin-left:10px;margin-right:30px"><a class="nav-link btn btn-outline-primary btn-lg btn-general btn-white navtry" href="{{url_for('welcome')}}" title="Robo-advisor">GET STARTED!</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<!--HOME Section-->
	<section id="home">
		<div id="home-cover" class="bg-parallax animated zoomIn">
			<div class="bg"></div>
			<div class="bg bg2"></div>
			<div class="bg bg3"></div>	
			<div id="home-content-box" class="text-center">
				<div class="container-fluid" id="home-content-box-inner">
					<div class="row">
						<div class="col" style="padding: 0px;">
							<div id="home-heading" class="animated fadeInDown">
								<h3><strong>Plant your seeds now</strong></h3>
								<h3 style="margin:7px 10px 5px 0px"><strong>& make your money GROW!</strong></h3>
								<p style="margin:20px">RoboFina makes sure your planted investment grows and provide you with fruitful returns!</p>
							</div>
						</div>
						<div class="col-4" style="padding: 0px;">
							<div id="home-btn" class="animated fadeIn">
								<a class="btn btn-outline-primary btn-lg btn-general btn-white" href="{{url_for('welcome')}}" title="Robo-advisor">Get Started!</a>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Approach Section-->
	<section id="services">
		<div class="content-box">
			<div class="content-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
				<h3>Our approach</h3>
				<div class="content-title-underline"></div>
				<p>Our approach is based on leveraging the power of AI and fundamental Finance to keep our investors one step ahead.</p>
			</div>
			<div class="container">
				<div class="row wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="1s">
					<div class="col-md-6 text-center">
						<div class="service-item" data-featherlight="#mylightbox">
							<div class="service-item-icon">
								<i class="fas fa-balance-scale fa-3x"></i>
							</div>				
							<div class="service-item-title">
								<h3>Principle</h3>
							</div>
							<div class="service-item-desc">
								<p>RoboFina focuses on increasing expected return wihtin appropriate level of risk by
									balancing emotions with your demographic attributes </p>
							</div>
						</div>
						<div id="mylightbox" class="robo-explained"><h3 style="color:#fff">Principle</h3><br>
							RoboFina make sure no investor is highly influenced by emotions and at the same time it takes in 
							account the extend of risk an investor can bear by carefully analyzing his behavior. 
							Our system takes into account an investors behavior as well as demographic aspects in 
							order to calculate an appropriate risk tolerance score using sophisticated mathematical models. 
						</div>
					</div>
					<div class="col-md-6 text-center">
						<div class="service-item" data-featherlight="#mylightbox2">
							<div class="service-item-icon">
								<i class="fas fa-list-ul fa-3x"></i>
							</div>				
							<div class="service-item-title">
								<h3>Process</h3>
							</div>
							<div class="service-item-desc">
								<p>RoboFina performs strategic asset allocation based on the leading financial algorithms in the industry</p>
							</div>
						</div>
						<div id="mylightbox2" class="robo-explained"><h3 style="color:#fff">Process</h3><br>
							Once the risk tolerance of an individual investor is calculated, Robofina performs asset allocation 
							based on the algorithms inspired from award winning research. 
							At the same time, Robofina makes sure the investor always stays within his risk tolerance bounds.
						</div>
					</div>
					<div class="col-md text-center">
						<div class="service-item" data-featherlight="#mylightbox3">
							<div class="service-item-icon">
								<i class="fas fa-chart-pie fa-3x"></i>
							</div>
							<div class="service-item-title">
								<h3>Portfolio</h3>
							</div>
							<div class="service-item-desc">
								<p>RoboFina diversifies your portfolio across various ranges of ETFs available worldwide</p>
							</div>
						</div>
						<div id="mylightbox3" class="robo-explained"><h3 style="color:#fff">Portfolio</h3><br>
							Robofina focuses on passively managed funds i.e. investment in ETFs. We have carefully 
							handpicked ETF’s that will provide highest level of diversification across many asset 
							classes, at the same time providing high returns.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Vision Section-->
	<section id="about">
		<!--About right side parallax image-->
		<div id="about-bg-diagonal" class="bg-parallax"></div>
		<!--Left side text message-->
		<div class="container" style="margin-left:20px">
			<div class="row">
				<div class="col-md-4">
					<div id="about-content-box">
						<div id="about-content-box-outer">
							<div id="about-content-box-inner">
								<div class="content-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
									<h3 style="text-align: left;">Our Vision</h3>
									<div class="content-title-underline"></div>
								</div>
								<div id="about-desc" class="wow fadeInDown">
									<p>Investing is not difficult and everyone should have equal apportunities to invest. 
										<strong>RoboFina</strong> strives to make the investment procedure as easy as possible so that 
										inexperienced investors and beginners can make use of this platform to start 
										their journey into the investment world. <br><br>
										
										We also believe in educating our investors 
										by giving them uptpdate information about market trends and suggestions and keeping 
										our processes transparent, so when the time comes our investors are confident enough 
										to switch to the premium package where they are free to form their own portfolios 
										based on their knowledge as well as our support an suggestions.</p>
								</div>
								<div id="about-button" class="wow fadeInUp">
									<a class="btn btn-lg btn-general btn-blue" href="{{url_for('welcome')}}" role="button" title="Robo-advisor">Get Started!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Team Section-->
	<section id="team">
		<div class="content-box">
			<div class="content-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
				<h3>Our team</h3>
				<div class="content-title-underline"></div>
			</div>
			<div class="container">
				<div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
					<div class="col-md-12">
						<div id="team-members" class="owl-carousel owl-theme">
							<div class="row team-member">
								<div class="col-md-4">
									<img src="../static/img/my_team/shirin_formal.jpg" class="img-fluid rounded-circle" alt="my team">
								</div>
								<div class="col-md-8 quote-name">
									<blockquote>
										<p>Through RoboFina, I want to make 
										   investment opportunities and financial literacy available and affordable to everyone by making 
											it fun and easy! 
										</p>
									</blockquote>
									<div class="team-member-author">
										<p>
											<strong><a href="https://linkedin.com/in/shirin-khosravi-jam" class="social-icon icon-gray"><i class="fab fa-linkedin"></i></a> Shirin Khosravi Jam</strong>
											<span>RoboFina Advisors</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Recommendation Section-->
	<section id="recommendations">
		<div id="recommendation-cover" class="bg-parallax">
			<div class="content-box">
				<div class="content-title content-title-white wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
					<h3>Client Recommendations</h3>
					<div class="content-title-underline"></div>
				</div>
				<div class="container">
					<div class="row wow bounceInDown" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="col-md-12">
							<div id="my-recommendations" class="text-center owl-carousel owl-theme">
								<div class="recommendation">
									<img src="../static/img/my_recommendations/coming_soon.png" class="img-fluid rounded-circle" alt="Recommendations">
									<blockquote>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, enim veniam quisquam consectetur libero dolores eos dolorum fuga, quo iste in numquam ab iusto quae et ipsa sapiente porro deleniti!</p>
									</blockquote>
									<div class="recommendation-author">
										<p>
											<strong>Coming Soon</strong>
											<span>Position- Coming Soon</span>
										</p>
									</div>
								</div>
								<div class="recommendation">
									<img src="../static/img/my_recommendations/coming_soon.png" class="img-fluid rounded-circle" alt="Recommendations">
									<blockquote>
										<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet doloremque, corporis voluptatibus velit, aut distinctio voluptate suscipit hic minima rerum iure fugiat, nesciunt voluptates esse ducimus sapiente soluta eos nobis.</p>
									</blockquote>
									<div class="recommendation-author">
										<p>
											<strong>Coming Soon</strong>
											<span>Position- Coming Soon</span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Pricing Section-->
	<section id="pricing">
		<div class="content-box">
			<div class="content-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
				<h3>Our Pricing</h3>
				<div class="content-title-underline"></div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-4 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="pricing-box text-center">
							<h4 class="pricing-title">Premium</h4>
							<h3 class="pricing-value">00.99<sup>€</sup></h3>
							<ul class="pricing-spec">
								<li>
									<p>Coming Soon</p>
								</li>
								<li>
									<p>Coming Soon</p>
								</li>
								<li>
									<p>.</p>
								</li>
								<li>
									<p>.</p>
								</li>
							</ul>
							<div class="pricing-btn">
								<a class="btn btn-general btn-lg btn-blue" href="#" role="button">COMING SOON</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow bounceInUp" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="pricing-box pricing-box-lg text-center">
							<h4 class="pricing-title">Basic</h4>
							<h3 class="pricing-value">Free</h3>
							<ul class="pricing-spec">
								<li>
									<p>AI driven Risk Tolerance</p>
								</li>
								<li>
									<p>12 diverse ETFs</p>
								</li>
								<li>
									<p>Intiutive design</p>
								</li>
								<li>
									<p>Unlimited trials</p>
								</li>
							</ul>
							<div class="pricing-btn">
								<a class="btn btn-general btn-lg btn-white" href="#" role="button">GET STARTED!</a>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="pricing-box text-center">
							<h4 class="pricing-title">Standard</h4>
							<h3 class="pricing-value">00.49<sup>€</sup></h3>
							<ul class="pricing-spec">
								<li>
									<p>Coming Soon</p>
								</li>
								<li>
									<p>Coming Soon</p>
								</li>
								<li>
									<p>.</p>
								</li>
								<li>
									<p>.</p>
								</li>
							</ul>
							<div class="pricing-btn">
								<a class="btn btn-general btn-lg btn-blue" href="#" role="button">COMING SOON</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Stats Section-->
	<section id="stats">
		<div id="stats-cover" class="bg-parallax">
			<div class="content-box">
				<div class="content-title content-title-white wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
					<h3>We Never Stop Improving</h3>
					<div class="content-title-underline"></div>
				</div>
				<div class="container">
					<div class="row text-center wow bounceInLeft" data-wow-duration="0.5s" data-wow-delay="1s">
						<div class="col-md-4">
							<div class="stats-item">
								<i class="fas fa-star fa-5x"></i>
								<h2><span class="counter">12</span><span>+</span></h2>
								<p>Awards</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="stats-item">
								<i class="far fa-thumbs-up fa-5x"></i>
								<h2><span class="counter">6500</span><span>+</span></h2>
								<p>Likes</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="stats-item">
								<i class="fas fa-check-square fa-5x"></i>
								<h2><span class="counter">2200</span><span>+</span></h2>
								<p>Recommend</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--Clients Section-->
	<section id="clients">
		<div class="content-box">
			<div class="content-title wow fadeInDown" data-wow-duration="0.5s" data-wow-delay=".5s">
				<h3>Clients</h3>
				<div class="content-title-underline"></div>
			</div>
			<div class="container">
				<div class="row text-center wow bounceInLeft" data-wow-duration="0.5s" data-wow-delay="1s">
					<div class="col-md-12">
						<div class="clients owl-carousel owl-theme">
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
							<div class="client">
								<img src="../static/img/client/logos/logo.png" class="img-fluid" alt="client">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Contact footer form
	<footer>
		<div id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div id="contact-left">
							<h3>SHANTANU LADHWE</h3>
							<p>I am a <strong>Data Scientist!</strong></p>
							<div id="contact-info">
								<address>
									<strong>Address:</strong>
									<p>Berlin, Germany</p>
								</address>
							
								<div id="phone-email">
									<p>
										<strong>Phone:</strong><span> +49 176 77986088</span><br>
										<strong>Email:</strong><span> shantanu.ladhwe156@gmail.com</span><br>
									</p>
								</div>
							</div>							
						</div>
						<ul class="social-list">
							<li><a href="#" class="social-icon icon-white"><i class="fab fa-facebook-square"></i></a></li>
							<li><a href="#" class="social-icon icon-white"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" class="social-icon icon-white"><i class="fab fa-youtube"></i></a></li>
							<li><a href="#" class="social-icon icon-white"><i class="fab fa-twitter-square"></i></a></li>
						</ul>	
					</div>
					<div class="col-md-6">
						<div id="contact-right">
							<h3>Contact Me!</h3>
							<form action="#">
								<input type="text" name="full-name" placeholder="Full Name" class="form-control">
								<input type="text" name="email" placeholder="Email Address" class="form-control">
								<textarea rows="5" name="message" placeholder="Message..." class="form-control"></textarea>

								<div id="send-btn">
									<a class="btn btn-lg btn-general btn-last" href="#" role="button">SEND</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> -->

		<div id="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div id="footer-copyrights">
							<p>Copyrights &copy; 2021 All Rights Reserved by Shirin Khosravi Jam.</p>
						</div>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<div id="footer-menu">
							<ul>
								<li><a href="#home" class="smooth-scrolling">Home</a>/</li>
								<li><a href="#services" class="smooth-scrolling">Approach</a>/</li>
								<li><a href="#about" class="smooth-scrolling">Vision</a>/</li>
								<li><a href="#team" class="smooth-scrolling">Team</a>/</li>
								<li><a href="#recommendations" class="smooth-scrolling">Recommendations</a>/</li>
								<li><a href="#pricing" class="smooth-scrolling">Pricing</a>/</li>
								<li><a href="#stats" class="smooth-scrolling">Stats</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<a href="#home" id="back-to-top" class="btn btn-sm btn-general btn-blue btn-back-to-top smooth-scrolling" title="home" role="button">
			<i class="fas fa-arrow-up"></i>
		</a>
	</footer>


	<!-- Bootstrap javascript -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<!-- Featherlight Popup -->
	<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

	<!--WOW for animation-->
	<script src="../static/js/wow/wow.min.js"></script>

	<!--Magnific popup-->
	<script src="../static/js/magnific-popup/jquery.magnific-popup.min.js"></script>

	<!--Owl Carousel-->
	<script src="../static/js/owl-carousel/owl.carousel.min.js"></script>	

	<!--Counter-->
	<script src="../static/js/counter/jquery.waypoints.min.js"></script>
	<script src="../static/js/counter/jquery.counterup.min.js"></script>

	<!--easing-->
	<script src="../static/js/easing/jquery.easing.1.3.js"></script>

	<!--custome JS-->
	<script src="../static/js/custom_index.js"></script>
</body>
</html>